:root {
    --grey: #eff5f57a;
    
    --dark-green :#0b2f34;
    --green: #13565f;
    --pink: #fe6686;
    --white: white;
    --green2: #2b6a72;
    --green3: #4d9ca7;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .overlay,.prof

  {
      position: fixed;
      top: 0;
      left: 0;
      bottom:0;
      right: 0;
      z-index: 20;
      background-color:rgba(39, 39, 39, 0.348);
      /* display: none; */
  }
  .open-popup
  {
      display: block;
      transform: translate(-50%, -50%) scale(1);
      top:50%;
  }
  ::-webkit-scrollbar-track {
    background-color: #e9eced;
      border-radius: 20px;
      margin-top:3px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--green3);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--green3); 
  }
#popup
{
    width:300px;
    height:400px;
    background: linear-gradient(270deg, hsla(187, 41%, 29%, 1) 0%, hsla(188, 21%, 45%, 1) 100%);
 
    background: -moz-linear-gradient(270deg, hsla(187, 41%, 29%, 1) 0%, hsla(188, 21%, 45%, 1) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(187, 41%, 29%, 1) 0%, hsla(188, 21%, 45%, 1) 100%);
   box-shadow: 6px 6px 16px rgba(65, 65, 65, 0.381);
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    /* bottom:0;
    right:0; */
  
    transform: translate(-50%, -50%) scale(1);
    padding:20px;
 
   
   
}
#account:hover {
    
  
    
    border: 3px solid var(--color-pink);
  }
  #account
  {

     border-radius: 50%;
  border: 4px solid white;
  height: 100px;
  width: 100px;
  margin: 10px auto;

  box-shadow: 4px 4px 2px rgba(65, 65, 65, 0.679);
    justify-self:center;
    cursor: pointer;
    
    margin-top:-100%;

  
  }
  .close_menu_botton2

  {
      background-color: transparent;
      border:none
  }

  .close2
  {
      border-radius: 50%;
      background-color: var(--pink);
      color: white;
      padding:5px 8px ;
      font-size:20px;
      box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.679);
      cursor: pointer;
      margin-left:300px;
      margin-bottom:150px;
      display: inline-block;
  }
  .close2:hover
  {
      background-color: #fe6687c0;
  }
  .modal-btn
  {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    flex-direction: column;
    height:100%
    
  }
  .pop
  {
      margin:10px auto;
      background-color:var(--pink);
      border-radius : 20px;
      padding:10px;
      box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.679);
      transition: transform 0.2s 0.1s ease-out;
      width:150px;
      text-align: center;
      cursor: pointer;

  }
  .pop:hover
  {
      background-color: #fe6687c0;
      transform: scale(1.1);

  }
#bienvenu
  {
      color:#ffffffee;
      z-index: 1;
      text-align: center

  }
  /* =======================Modal FORM MALADIE========================== */
  .close_form

  {
      background-color: transparent;
      border:none
  }

  .closeF
  {
      border-radius: 50%;
      background-color: var(--pink);
      color: white;
      padding:5px 8px ;
      font-size:20px;
      box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.679);
      cursor: pointer;
      margin-left:290px;
     /* margin-top:-100px; */
      display: inline-block;
  }
  .closer
  {
    border-radius: 50%;
    background-color: var(--pink);
    color: white;
    padding:5px 8px ;
    font-size:20px;
    box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.679);
    cursor: pointer;
    margin-left:280px;
   margin-top:0px;
    display: inline-block;
  }
  .closeF:hover,.closer:hover
  {
      background-color: #fe6687c0;
  }

  .hide
  {
    display: none;
  }
  label
  {
    color:var(--green2);
    font-weight:500;
    text-align: center;
  }
  /* ********************FORM-page1*********************** */
.form
{
  display:flex;
  flex-direction:column;
 padding:20px 10px;
 position: absolute;
 top:55%;
 left:50%;
 transform: translate(-50%, -50%) scale(1);
 padding-bottom:10px;
 box-shadow: 10px 10px 300px rgba(96, 96, 96, 0.697);
 border-radius:8px;
padding-left:15px;
z-index:20;
max-height:650px;overflow-y:auto;

}

.form-btn
{
 
  width:150px;
  height:40px;
  border:2px solid var(--pink);
  background-color:var(--pink);
  color:white;
  font-weight:500;
  font-size:1rem;
  border-radius:30px;
  justify-self:center;
  align-self: flex-end;
  margin:5px auto;
  box-shadow: 6px 6px 6px rgba(65, 65, 65, 0.381);
  transition: transform 0.2s 0.1s ease-out;
 padding-right: 10px;
 padding-bottom: 20px;
 line-height: 30px;
}
.form-btn:hover
{
 cursor:pointer;
 box-shadow: 6px 6px 6px rgba(65, 65, 65, 0.381);
 transform: scale(1.1);

}

.form input,
.form textarea,.form select

{
   border:none;
   
   border-radius:5px;
   padding:5px;
   width:300px;
   display:block;
  margin:10px;
  line-height:30px;
  background-color:#e7edee;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);

}

.form input:focus,
.form textarea:focus,
.form select:focus

{
   border-bottom:2px solid var(--pink);
   background-color:#d2e9ed


}
::placeholder
{
  line-height: 30px;
  color: var(--dark-green)
}

/* ********************DOCUMENTS FORM*********************** */

 .docForm input[id="add-file"]
 {
  display:none
 }
 .docForm  #choisir
{
  padding-bottom: 5px;
  background-color:transparent;
  border:none
}
.docForm  #choisir:hover
{
  color:var(--green3)
}

/* ==========================MESURE FORM=================== */
.mesure-inputs,.profil-inputs
{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
.mesureForm
{
  z-index: 15;
  padding-left: 10px;
}
.mesureForm input,
.profil input,
.profil textarea,
.profil select,
.mesureForm textarea,.mesureForm select

{
  
   width:120px;
   margin-right:5px
}

.mesure-inputs
input ::placeholder
{
  font-size:.8rem
}
#mesure-form
{
  z-index: 10;
}
form[name='mesure'] .closer
{
   margin-left: 250px;
}
/* ================================profil form=============================== */

.over-prof
{


  
      position: fixed;
      top: 40%;
      left:50%;
      bottom:0;
      right: 0;
      z-index: 1;
      background-color:rgba(39, 39, 39, 0.348);
      /* display: none; */
  
}
/* =======================FORMS VALIDATION STYLING======================= */
.form label span[id="show-name"]
{
  padding:10px;
  margin:5px 10px;
  color:rgb(42, 138, 99);
  font-weight: 400;
  font-size:.9rem;
  background-color:rgb(182, 225, 208);
  border:1.5px solid rgb(42, 138, 99);
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  display:none;
 
}
.fa-circle-check
{
  color:var(--green3);

}
/* =========================MEDIA QUERIES========================= */
/* *******************FORM des MALADIES******************* */
@media(max-width:767px)
{
  .form
{
 padding-left: 15px;
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%) scale(1);
 /* width:90% */
 z-index: 20 !important;
 height:350px;overflow-y:auto;

}


#doc-btn
{
  width:200px;
  height:35px;
  padding:10px;
  font-weight: 500;

}
.closeF
  {
    margin-right:-10px;
     

      display: inline-block;
  }
  .closer
  {
    
    margin-right:-10px;
    margin-left:250px;

    margin-top:-20px;
    display: inline-block;
  }

#hospital-form
{
  top:60%
}
#vaccin-form
{
  top:60%
}
.over-prof
{


  
      position: fixed;
      top: 40%;
      left:5%;
      bottom:0;
      right: 0;
      z-index: 1;
      background-color:rgba(39, 39, 39, 0.348);
      /* display: none; */
  
}
.form label span[id="show-name"]
{

  width: 250px; 

 
}
}

 