:root {
    --grey: #eff5f57a;
    --green: #13565f;
    --pink: #fe6687ee;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .overlay
  {
      position: fixed;
      top: 0;
      left: 0;
      bottom:0;
      right: 0;
      z-index: 1;
      background-color:rgba(128, 128, 128, 0.56);
      display: none;
  }
  .open-popup
  {
      display: block;
      transform: translate(-50%, -50%) scale(1);
      top:50%;
  }

#popup
{
    width:300px;
    height:400px;
    background-color:#396e75;
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    /* bottom:0;
    right:0; */
  
    transform: translate(-50%, -50%) scale(1);
    padding:20px;
 
   
   
}
#account:hover {
    
  
    
    border: 3px solid var(--color-pink);
  }
  #account
  {

     border-radius: 50%;
  border: 4px solid white;
  height: 100px;
  width: 100px;
  margin: 10px auto;

  box-shadow: 4px 4px 2px rgba(65, 65, 65, 0.679);
    justify-self:center;
    cursor: pointer;
    
    margin-top:-40%;

  
  }
  .close_menu_botton2

  {
      background-color: transparent;
      border:none
  }

  .close2
  {
      border-radius: 50%;
      background-color: var(--pink);
      color: white;
      padding:5px 8px ;
      font-size:20px;
      box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.679);
      cursor: pointer;
      margin-left:-300px;
      margin-top:-90px;
      display: inline-block;
  }
  .close2:hover
  {
      background-color: #fe6687c0;
  }
  .modal-btn
  {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    flex-direction: column;
    height:100%
    
  }
  .pop
  {
      margin:10px auto;
      background-color:var(--pink);
      border-radius : 20px;
      padding:10px;
      box-shadow: 2px 2px 2px rgba(65, 65, 65, 0.679);
      transition: transform 0.2s 0.1s ease-out;
      width:150px;
      text-align: center;
      cursor: pointer;

  }
  .pop:hover
  {
      background-color: #fe6687c0;
      transform: scale(1.1);

  }
#bienvenu
  {
      color:#ffffffee;
      z-index: 1;
      text-align: center

  }