@import url(https://fonts.googleapis.com/css?family=Raleway);
:root{
    --color-green:#13565f;
    --color-black:#262626;
    --color-background:#f3f8fe;
    --shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
    --text-color: #707070;
    --color-pink:#fe6686;
    --color-green2: #2b6a72;
    --color-green3: #4d9ca7;
}



h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  background: #f3f8fe;

}



* {
  font-family: "poppins",sans-serif;
  box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    grid-template-rows: 0.5fr 2fr .4fr;
    grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "footer footer";
    gap: 2rem;

    height: 100%;
    min-height: 100%;

}
.container .navbar{
    grid-area: navbar;

}

.container main{

    grid-area: main;
    margin-bottom: 0px !important;

}
.container .sidebar{
    background-color: #13565f;
    grid-area: sidebar;
    height: 600px !important;
    margin-top: 15px;


}

.container footer{

    grid-area: footer;
    margin-bottom: 0px;

}



/* nav bar  */
.imageNavbar{
  clip-path: circle();
  width: 70px;
  margin-top: 7px !important;


}
.navbar{
  /* position: relative; */
}
.pink {
  background: var(--color-pink);
  border-radius: 10px;
  padding: 3px  10px !important;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-green);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--color-green);
    height: 70px;
    padding: 1em;
    grid-area: navbar;
    width: 100%;
  }
  .top-nav .logo{
      width: 40px;
      /* height: 35px; */
      margin-top: -3px;

  }

  .top-nav .navLogo{
     display: flex;
     align-items: center;
     margin-left: 64px;
  }
  .top-nav .navLogo .chifaeNav{
    font-weight: 700;
    color: white;
    font-size: 1.3rem;
    margin-top: 4px;
    margin-left: 2px;
  }
  .top-nav .menu .nav-links{
      color: white;
      font-size: 15px;

      padding: 10px 20px;
      border-radius:10px;
      font-weight: 400;

  }
  .top-nav .menu li{
    padding: 4px 6px;
    margin: 0;
    margin-top: 15px;
  }
  .top-nav .menu .nav-links:hover{


  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    position: absolute;
    top:0;
    right:70px;
    /* margin-right: -865px; */
    /* margin-top: -15px; */
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color:white;
    position: absolute;
    height: 2px;
    width: 25px;
    transition: transform 900ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }


/* nav bar end */


/* ===========================nav bar end======================================== */

/* ===========================SIDE BAR========================================= */


/*side bar */
.container .sidebar {
    background-color: white !important;
    box-shadow: var(--shadow);
    width: auto;

    /* margin-right: 10px; */
    border-radius: 15px 15px 15px 15px !important;
    color: white;
    height: 700px !important;
    margin-left: 5%;
  }

  .container .sidebar .top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container .sidebar .top .imgTop {
    /* height: 200px; */
    width: 290px;
    display: block;
    margin-top: -20%;
  }

  .container .sidebar .top .profile img {
    width: 160px;
    margin-top: -70%;
    margin-left:55px;
    clip-path: circle();

    filter: drop-shadow(1px 14px 5px rgb(24, 26, 26));
    margin-bottom: 10px;
  }

  .line {
    width: 100%;
    height: 0.3px;
    background-color: rgb(175, 172, 172);
    margin-top: 0px;
  }
  .container .sidebar .top .text{
    text-align: center;
    border:1px solid transparent;
    width: 70%;
    margin: -15% auto;
    text-align: center;
    margin-bottom: 0px;
    font-size: 17px;
    color: black;



}
.container .sidebar .top .text p{
    color: rgb(175, 171, 171);
    margin:0 !important;
    margin-top: -20px !important;

}
.container .sidebar .top .text h3{
    margin-left: 25px;
    font-weight: 350;
    margin-top: 30px;
    margin-right: 27px;

}

  .nav-link {
    text-decoration: none;
    color: white;
    text-align: center;

  }
  .nav-item {
    margin-top: 23px !important;
    margin-bottom: 20px;
  }
  .nav-link:hover {
    background: #13565f;

    color: white;
  }
  .bottom ul li {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    background-color: #0b737f;
    width: 76.8%;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-left: 3px;
  }
  .bottom ul li:hover {
    background: #13565f;

    color: white;
  }


/* ===============================SIDE BAR END=============================== */


/* ===============================MAIN SECTION================================ */


/* main section */



.main{
  position: relative;
  margin: 0px;
  background-color: white;
  margin-right:20px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 padding-bottom: 70px;
 margin-bottom: 0px ;
  overflow-y: hidden;
  min-height: auto !important;
  max-height: auto !important;
  min-height: 870px !important;
}
.main .prevNext{
  position: absolute;
  bottom: 30px;
  right: 70px;
}
.main .prevNext a{
  padding: 5px 14px;
  color: white;
  background-color: #0b737f;
  border-radius: 50%;
  margin: 3px;
}
.main .prevNext  a.prNe{
  border-radius: 20px;
  padding: 5px 17px;
}
.main .prevNext a:hover{
  background-color:#83a5a9;
  color: black;
}


.main .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 0px;
  margin-top: -20px;
  height: 140px;

}
.main .top .left{
  font-weight: 500;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif !important;
  padding: 0px;
  font-size: 20px;
  color: #333;
}

.main .top .left p{

  background-color: var(--color-pink);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
.main .top .right{
  margin-top: 25px;


}
.main .right .appointment{
  text-decoration: none;
  padding: 0px 17px;
  color: white;
  padding: 5px 52px;
  border-radius: 8px;
  margin-right: 45px;
  width:200px !important;
  background-color: var(--color-green);
  font-size: 17px;
  font-weight: 300;
  margin-left: 70px;

}
.ok{

    background-color:transparent;
    border:none;
    color:var(--green2);
    font-size:1rem;
    margin: 5px;
    color: var(--color-green);
    cursor: pointer;
  }

.main .line2{
  color: gainsboro;
  height: 1px;
}
.select{
  position: relative;
  width: 130px;
  height: 30px;
  border-radius: 8px;
  color: #13565f;
  text-align: left;
  padding: 0px 15px;
  font-size: 16px;
  cursor: pointer;
  border-color: #13565f;
  font-weight: 300;
margin-top: 10px;
margin-left: 70px;
margin-right: -10px;
  /* display: none; */
}

.select::after{
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}


.select.active{
  background: #13565f;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.options{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: fit-content;
  background: #13565f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


  display: none;
}

.options.active{
  display: block;
}

.options .item{
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  cursor: pointer;
}

.options .item.active{
  background: #13565f;
}

/* top sectio end */

/* appointment section */
.appointment_section{
  margin-top: 0px;
  margin-left: 0% !important;
}

.patient  td .patientImg{
      width: 144px;
      height: 84px;

      clip-path: circle();
      margin-left: -30px;
}
.patient td .patientImgNot{
      width: 80px;

      clip-path: circle();
}

.patient td:last-child .icon1 {
  color:rgb(99, 136, 216);
}
.patient td:last-child .icon2 {
  color:rgb(46, 95, 68);
}
.patient td:last-child .icon3 {
  color:rgb(210, 69, 76);
}
table{
  /* margin-left: 100px; */
  /* margin-top: -31px; */
  margin-bottom: 0px;
}

table th, td {
  resize: both;

}


.patient .content-table{
  border-collapse: collapse;

  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0,0.15 );
}
td:first-child,
th:first-child {
/* border-radius: 10px 0 0 0; */
}
.patient .content-table .accept{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 23px;
  font-size: 20px;
}

td:last-child,
th:last-child {
/* border-radius: 0 10px 10px 0; */
}
.patient .content-table thead tr{
  background-color:#e6edee;
  color: black;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid  #83a5a9;
}
.patient .content-table th,
.patient .content-table td{
  padding: 12px 15px;
  resize: both;
}
.patient .content-table th.image{
  padding-right:20px ;
}
.patient .content-table tbody tr{
  border-bottom: 1px solid #f3f3f3;

}
.patient .content-table tbody tr:nth-of-type(even){
  /* background-color: #f3f3f3; */
}
.patient .content-table tbody tr:last-child{
  border-bottom: 2px solid #13565f;
}
.prevNext{
  bottom: 0;
  right: 0;

}
.deleteP{
  background-color:transparent;
  border:none;
  color:var(--green2);
  font-size:1rem;
  margin: 5px;
  color:var(--color-green);
  cursor: pointer;
}
.fa-ban{
  color:red;
  margin-top :10px;
  margin-left: 10px;
}
.fa-user-plus{
  margin-top :15px;
}
/* ===============================MAIN SECTION END============================ */

/* ===================================FOOTER =========================== */


.footer .content{
	max-width: 1;
	margin-right:0;
}
.row{
	display: flex;
	/* flex-wrap: wrap; */
  width: 100%;
  margin:0;
}
ul{
	list-style: none;
}
.footer{
	background-color: white;
    padding: 70px 0;
    height: 300px ;
    margin-top: -5px;
    width: 100% !important;
    min-height: 400px;
}
.footer-col{
   width: 180px;
   padding: 0 15px;
   margin-right: 50px;

}
.footer-col h4{
	font-size: 20px;
	color: #585978;
	text-transform: caitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;

}
.footer-col:last-child{
  width: 220px;

}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul {
  margin-left: -35px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #585978;
	text-decoration: none;
	font-weight: 400;

	transition: all 0.3s ease;
  text-align: left;
  width: 100%;
}
.footer-col ul li a:hover{
	color: var(--color-green3);

}
.footer-col .social-links a{
	display: inline-block;
	height: 42px;
	width: 44px;
	background-color: var(--color-green3);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;

	color: white;
	transition: all 0.3s ease;

}

.footer-col .social-links a:hover{
  background-color: #88b8c0;
}
.footer .footer-col:first-child{
  width: 387px;
  margin-left: 80px;
  margin-right: 100px;
}
.footer .footer-col .logo{
  width: 40px;
}
.footer .footer-col .chifae{
  color: var(--color-pink);

    font-weight: 800;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 5px;
}
.footer .footer-col .logoChifae{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.copyright-wrapper{
  margin-left: -100px;
  margin-top: 30px;
}
.copyright-wrapper::before{
  content: "";
  position: absolute;

  width: 1000px;
  height: 1px;
  background:rgba(182, 181, 181, 0.6);
  animation: animate 5s linear infinite;
  margin-left:300px;
  margin-top: -25px;
}
.copyright-wrapper p {
  color: rgba(88, 89, 120, 0.6);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copyright-wrapper p a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
  color: #037ef3;
}
/* ===================================footer end =============================================*/



/* =======================BOITE AJOUTER RENDEZ VOUS===================== */
.boites{
  width: 650px;
  height: 300px;
 background-color: blue;
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 27%;
}
 .boites .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .7fr .7fr .7fr .7fr;
  grid-template-areas:
  "col2 col3"
  "col4 col5"
  "col6 col7"
  "col8 col9";
  gap: 0rem;
  margin-top: 30px;
}
.wrapper .column_form{
  width: 150px;
}
.col1{
  grid-area: col1;
  position: relative;
}
.topSec.col1{
  margin-left: 200px;
}

.col2{
  grid-area: col2;

}
.col3{
  grid-area: col3;

}

.col4{
  grid-area: col4;

}

.col5{
  grid-area: col5;

}
.col6{
  grid-area: col6;

}

.col7{
  grid-area: col7;

}

.col8{
  grid-area: col8;

}

.col9{
  grid-area: col9;

}


.icons{
  position: absolute;
  top: 10px;
  right: 10px;

}



 .column_form {
  margin-left: 20px;
  margin-right: 80px;
  position: relative;
  width: 20rem;
  margin-left: 73px;
}
  .column_form .input_form {

  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-green);
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  width: 250px;
  height: 30px;
  background: none;
  margin-bottom: 30px;

}
 .column_form .input_form:hover {
  border: 2px solid var(--color-green2);
}
 .column_form .input_form:focus {
  border: 2px solid var(--color-green3);

}
 .column_form .input_form:focus ~ .label_form {
  color: var(--color-green3);

}
 .column_form .input_form:hover ~ .label_form {
  color: var(--color-green2);
}
 .column_form .label_form {
  position: absolute;
  top: 0.15rem;
  left: 1rem;
  padding: 0 0.5rem;
  color: var(--color-green);
  cursor: text;
  transition: top 150ms ease-in, left 150ms ease-in, font-size 150ms ease-in;
  background-color: white;
}
 .column_form .input_form:focus ~ .label_form,

  .column_form
  .input_form:not(:placeholder-shown).input_form:not(:focus)
  ~ .label_form {
  top: -0.9rem;
  left: 0.8rem;
  font-size: 0.8rem;
}
.save_changes_btn {
  position: absolute;
  bottom: 1.3rem;
  right: 2.5rem;
  background-color: var(--color-green);
  color: white;
  border-radius: 10px;
  border: 2px solid var(--color-green);
  padding: 7px 25px;
  margin-top: 50px;
  cursor: pointer;
}
.appointmentTitle{
  margin-top: 20px;
  margin-left: 5px;
  color: var(--color-green);
  font-size: 25px;
  font-weight: 600;
}
.appointmentTitle::after{
  content: '';
  position: absolute;
  left: 5px;
  top:50px;
  width: 80px;
  height: 3px;
  background: var(--color-green);
  }



.container#blur.active {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}
#boite{
  position: fixed;
  top:60%;
  left: 50%;
  background: linear-gradient(0deg, rgb(139, 180, 185) 5%, rgba(222, 236, 238, 1) 85%);
  /* background-color: red; */
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
  z-index: 100;
  border-radius: 20px;
  border: 1px solid #13565f;
  transition: 0.5s;;
  box-shadow: 0 10px 30px rgba(0,0,0,.30);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 100px 85px 75px 100px 1fr;

}
#boite.active {
  top:50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.ajouter{
  margin-left:123px;
  padding: 7px 45px;
  color: white;
  background: var(--color-green);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}














































/* ===============================GRID LAYOUT RESPONSIVE=============================================== */

@media only screen and (max-width:860px){

    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.176fr 700px 2fr 500px;
        grid-template-areas:
        "navbar"
        "sidebar"
        "main"
        "footer";
    }
    /* =======SIDE BAR===================== */
  .container .sidebar {
    width: 70% !important;
    /* margin-left: 20px !important; */
    height: 770px !important;
    margin-bottom: 25px !important;
    background-color: #13565f;
    border-radius: 25px 25px 25px 25px !important;
    margin-left: 15%;
  }
  .container .sidebar .top {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center !important;
    align-items: center !important;
  }
  .container .sidebar .top .imgTop {
    margin-top: -10%;
    width: 330px;
  }
  .container .sidebar .top .text {
    margin-top: -40px;
    margin-left: 16%;
  }
  .container .sidebar .top .profile img {
    margin-left: -1%;
    margin-top: -100%;
  }
  .container .sidebar .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    margin-left: -12% !important;
  }
  .bottom ul {
    margin-top: -2%;
    margin-left: -25px;
  }
  .bottom ul li {
    white-space: nowrap;
    padding: 7px 70px;
    margin-left: 20%;
  }
  .nav-link {
    margin-left: -90% !important;
    margin-top: 2px;
  }
  .container main {
    margin-top: 10%;
  }
  .footer {
    height: auto !important;
    width: 100%;
  }
  /* end side bar */

  /* main section */
  .main{
    min-height: 850px !important;
    overflow-y: hidden;
    margin-top:100px !important ;
    margin-left: 20px;
  }
  .main .appointment_section{
    margin-top: 0px !important;
  }
  .footer{
    min-height: 600px !important;
  }
}
/* ==========================RESPONSIVE SIDE BAR FROM  400  TO 700px */
/* @media only screen and (min-width: 510px) and (max-width: 700px){
    .container .sidebar .top .imgTop{
        width: 280px;
    }
} */




/* =======================RESPONSIVE SIDE BAR FOR SMALL PHONE============================= */
@media only screen and (max-width: 500px) {
  .container .sidebar {
    width: auto !important;
    margin-left: -0%;
    border-radius: 5px 5px 5px 5px !important;
  }
  .container .sidebar .top .imgTop {
    width: 300px;
  }
  .container .sidebar .top .profile img {
    width: 150px;
    margin-top: -200px;
  }
  .footer{
    height: auto !important;
    width: 100%;
  }
}
@media (max-width:550px){
  .main{
    min-height: 900px !important;
  }
  .main .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer{
    min-height: 1050px !important;
  }
  .main .top {
    display: flex;
    flex-direction: column;
    height: 170px;

  }
  .main .top .left p{
     margin:0;
     width: 100%;
     margin-bottom: 20px;
     margin-left: -15%;
     margin-top: 25px;
     background-color: var(--color-pink);
     color: white;
     padding: 5px 10px;
     border-radius: 10px;
  }
  .main .top .right{
    margin: 0;
    width: 100%;
    margin-left: 55px;
  }
  .main .top .right .appointment{
    margin: 0;
    width: 100% ;
    padding-right: 300px ;


  }
  .main .top .right .select{
    margin: 0;
    width: 80%;
    margin-top:15px;
  }


}
@media (max-width:410px){
  .main {
    min-height: 900px !important;
  }
  .main .top{
    margin-top: 40px;
  }
  .main .left{
    margin-left: -45px;
  }
   .main .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .main .right .select{
    margin-left: 30px;
  }
  .main .right .appointment{
    margin-left: -30px;
    margin-bottom: 50px;
    width: 40% !important;
    white-space: nowrap;
    padding-right: 0px;
  }
  .main .right .select{
    width: 290px !important;
    margin-left: -30px;
  }
  .prevNext{
    white-space: nowrap;
    margin-right: -28px !important;
     bottom: 50px;
    right: 0;


  }

  .footer{
    min-height: 1050px !important;
  }
}






/* ======================NAV BAR RESPONSIVE=================================== */



@media (max-width: 900px) {
  /* .imageNavbar{
    position: absolute;
    top: -65px;
    right: 15px;
  } */
    .menu-button-container {
      display: flex;
      /* position: absolute;
      right: 0px; */

    }
    .menu {
      /* position: absolute;
      top: 0; */
      margin-top: 50px;
      /* left: 0; */
      /* margin-right: -50px; */
      flex-direction: column;
      width: 841px;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 10;

    }
    main .left{
      margin-right: 3% !important;
      margin-left: 3% !important;
      margin-top: 2% !important;
    }

    label.menu .menu-button-container{
        margin-right: 500px;
        position: absolute;
        right: 150px;

    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid var(--color-green2);
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

    }
    .menu{
      margin-top: 70px;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: var(--color-green2);

    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

   .pink{
    background: transparent;
    box-shadow: none;
   }
   .footer{
        height: auto !important;
   }
  }



  /* nav bar end */

  /* ============================nav bar end======================================= */

/* ================================Footer RESPONSIVE================================ */


/* footer */
/*responsive*/
@media (max-width:1181px) {

  .copyright-wrapper::before{
    content: "";
    position: absolute;

    width: 1000px;
    height: 1px;
    background:rgba(182, 181, 181, 0.6);
    animation: animate 5s linear infinite;
    margin-left:160px;
    margin-top: -25px;
  }
  .row{
    background: white;

  }
  .copyright-wrapper{
    margin-top:-8px;
    background: white;
  }
          }
@media (max-width:1110px) {

  .copyright-wrapper::before{
    content: "";
    position: absolute;

    width: 1000px;
    height: 1px;
    background:rgba(182, 181, 181, 0.6);
    animation: animate 5s linear infinite;
    margin-left:100px;
    margin-top: -25px;
  }
          }
@media (max-width:1000px){

  .footer{
    width: 100%;
  }
  .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .copyright-wrapper{
    margin-top: -10px;
  }
.copyright-wrapper::before{
  content: "";
  position: absolute;

  width: 80%;
  height: 1px;
  background:rgba(182, 181, 181, 0.6);
  animation: animate 5s linear infinite;
  margin-left:160px;
  margin-top: -18px;

}
.footer .footer-col:nth-child(3){
  margin-left: 80px;
}
}
@media (min-width:865px) and (max-width:998px) {
 .copyright-wrapper p {
  margin-top: -5px;
 }

.copyright-wrapper::before{
  content: "";
  position: absolute;

  width: 80%;
  height: 1px;
  background:rgba(182, 181, 181, 0.6);
  animation: animate 5s linear infinite;
  margin-left:160px;
  margin-top: -10px;

}
}
@media (max-width:790px){
  .row{
    display: grid;
    grid-template-columns: 1fr;

  }
  footer{
    height: 1000px !important;

  }
  .row{
    background: white;
  }
  .copyright-wrapper{
    background: white;
    margin-top: -15px;
  }

  .footer .footer-col:nth-child(3){
    margin-left:0;
  }
 .prevNext{
  bottom: 100px;

 }
}
@media(max-width: 767px){
    .footer{
      min-height: 600px !important;
      width: 100%;
    }
      .footer-col{
        width: 50%;
        margin-bottom: 30px;

    }
    }
    @media(max-width: 574px){
      .footer{
        min-height: 990px !important;
      }
      .footer-col{
        width: 100%;
        height: 190px !important;
    }
    }

  
  /* ========================BOITE ACTIVE=================== */



  #boite{
    position: fixed;
    top:3%;
    left: 50%;
    background: #ffffff;


    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid #13565f;
    transition: 0.5s;;
    box-shadow: 0 10px 30px rgba(0,0,0,.30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: grid;
    grid-template-rows: 100px 85px 75px 100px 1fr;

}

.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#boite.active {
  top:50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
/*close button*/
.fa-circle-xmark {
  position: absolute;
  top: 20px;
  right:8px;
  cursor: pointer;
  color: var(--color-green);
}



    @media (max-width: 900px) {
      /* .imageNavbar{
        position: absolute;
        top: -65px;
        right: 15px;
      } */
        .menu-button-container {
          display: flex;
          /* position: absolute; 
          right: 50px ;  */
          margin-right: -52% !important;
          
        }}

        

       